<h2>My interests:</h2>
<p>Study and research in analytics, ML, applied data science, finance and economics. 
  Currently, living in the beautiful city of Porto, Portugal.</p>

<p>What I like to do:</p>
<ul>
  <li>Clojure + Kafka</li>
  <li>Rails + EmberJS</li>
  <li>Applied science</li>
</ul>

<p>Educational background:</p>
<ul>
  <li>North Dakota State University BA CS</li>
  <li>University of Victoria CBA Analytics</li>
  <li>Católica Porto Business School MS Business Economics(ongoing)</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nestorbenavidez">Github</a>
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/nestorbenavidez/">Linkedin</a>
</ul>
