<h2>About me</h2>
<p>Interested in Fintech, Data Science, Aerospace and VR. Currently, living in the beautiful city of Montevideo, Uruguay</p>

<p>What I like to do:</p>
<ul>
  <li>Web Development</li>
  <li>Architecture Consulting</li>
  <li>Business Solutions Consulting</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nestorbenavidez">GitHub repositories</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-wrench fa-lg main-list-item-icon"></span>
    <a href="https://www.upwork.com/freelancers/~013ba9682188d8b13c?viewMode=2">Upwork - I freelance</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/nestorbenavidez/">Work information</a>
  </li>
</ul>
