<h2>My interests:</h2>
<p>Studying and researching BI, ML, information systems, finance and economics. 
  Currently, living in the beautiful city of Porto, Portugal.</p>

<p>What I do:</p>
<ul>
  <li>Clojure + Kafka + Rails + EmberJS</li>
</ul>

<p>Educational background:</p>
<ul>
  <li>
    BA. Computer Science <br/>
    North Dakota State University, USA
  </li>
  <li>
    P.Cert. BI and Analytics <br/>
    University of Victoria, Canada
  </li>
  <li>
    MSc. Business Economics <br/>
    Católica Porto Business School, PT 
  </li>
</ul>

<p>Related companies:</p>
<ul>
  <li>Funding Circle UK - Altimetrik</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/nestorbenavidez">Github</a>
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/nestorbenavidez/">Linkedin</a>
</ul>
